@model DonateryWeb_Appr.Models.AuthorisedUser

@{
    ViewData["Title"] = "Login";
}

<div class="text-center mt-5">
    <h1>Authorised Users Login</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="AuthorisedUsersLogin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserNames" class="control-label">User Name</label>
                    <input asp-for="UserNames" class="form-control" />
                    <span asp-validation-for="UserNames" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserPassword" class="control-label">User Password</label>
                    <input asp-for="UserPassword" class="form-control" type="password" />
                    <span asp-validation-for="UserPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="AuthorisedUsersRegister" class="text-blue">Create account?</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}